article{
			border-radius: 50px;
			color:#fff;
		}
		main{
			display: inline;
		}
		#contact{
			background-color: #C62828;
		}
		#education{
			background-color: #303F9F;
		}
		#experiance{
			background-color: #00796B;
		}
		a{
			color:  #000;
			font-weight:bolder; 	
		}
		hr{
			background-color: #444;
			height:5px;
			border:0;
			border-radius: 15%;
		}
		h1{
			font-size:70px;
			font-family: cursive;
		}
		h2{
			font-size:40px;
			text-align: center;
			font-family:cursive;
		}
		table{
			text-align: center;
			font-family:courier;
		}
		td,th{
			padding:0 80px;
		}
		img{
			border:15px double brown;
			max-width:300px;
			height:300px;
		}
		.label{
			font-size: 20px;
			font-style:italic;
		}
		.info{
			font-size: 25px;
			text-transform: uppercase;
		}
		figcaption{
			font-style: italic;
			text-transform: lowercase;
		}
